/* store colors , fonts , sizes */ 

$primary-font: 'Arial', sans-serif; 
$primary-color: #ADB2D4;
$secondary-color: #C7D9DD;
$background-color: rgb(204, 201, 201);
$text-color: #EEF1DA;
$font-family: Arial, sans-serif;
$nav-color : #131325;
$intro-banner-color: #6a88ba;

$projects-heading-color: #121a41 ;
$min-card-height: 300px;
$intro-banner-heading-color: #282634;